.element__like {
    max-width: 22px;
    max-height: 19px;
}

.element__like:hover {
    opacity: 50%;
    cursor: pointer;
}

.element__like:active {
    background-image: url(../../../images/black-like.png);
    opacity: 100%;
    cursor: pointer;
}