.profile__edit-button {
    position: absolute;
    left: 92.3%;
    top: 17.65%;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color:black;
    border: solid white 1px;
}

@media all and (max-width: 990px) {
    .profile__edit-button {
        left: 98%;
        top: 12%;
    }
}

@media all and (max-width: 650px) {
    .profile__edit-button {
       width: 18px;
       height: 18px;
       left: 81%;
       top: 25%;
    }
}

.profile__edit-button:hover {
    opacity: 70%;
    cursor: pointer;
}
