.popup__container {
    background-color: white;
    border-radius: 10px;
    width: 430px;
    height: 330px;
    position: fixed;
    top: 24%;
    left: 50%;
    margin-left: -215px;
}

@media all and (max-width: 650px) {
    .popup__container {
       width: 282px;
       margin-left: -145px;
       top: 15%;
    }
}