.popup__container {
    background-color: white;
    border-radius: 10px;
    width: 430px;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
}

@media all and (max-width: 650px) {
    .popup__container {
       width: 282px;
       top: 15%;
    }
}