.profile__info {
    display: flex;
    position: relative;
    width: 336px;
    flex-direction: column;
}

@media all and (max-width: 650px) {
    .profile__info {
        flex-direction: column;
    }
}